@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: sans-serif;
  background-color: rgb(255, 250, 244);
}

main {
  width: 90%;
  max-width: 1000px;
  margin: 32px auto;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

article>h4 {
  text-align: center;
  margin-bottom: 0;
  padding: 5px 0;
  color: #5D4954;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  text-align: justify;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container>div {
  width: 100%;
  border-radius: 5px;
  background-color: #5D4954;
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}

.flex-container>div:hover {
  background-color: #5d4954d2;
}

@media screen and (max-width: 700px) {
  .flex-container {
    flex-wrap: wrap;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #5D4954);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}